html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #12353a82 !important;
}
.dropdown-menu{
  background-color: rgba(18, 53, 58, 0.88) !important;
}
.dropdown-item:hover{
  background-color: rgba(8, 24, 26, 0.69) !important;
}

